In [91]:
import numpy as np
import pandas as pd

import re
import emoji
from nltk.stem import PorterStemmer
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split
from keras.utils import plot_model

import tensorflow as tf

In [92]:
data = pd.read_csv('Tweets.csv')

In [93]:
data

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [94]:
# Preprocessing

In [95]:
confidence_threshold = 0.6

data = data.drop(data.query("airline_sentiment_confidence < @confidence_threshold").index, axis=0).reset_index(drop=True)

In [96]:
tweets_df = pd.concat([data['text'], data['airline_sentiment']], axis=1)
tweets_df

                                                    text airline_sentiment
0                    @VirginAmerica What @dhepburn said.           neutral
1      @VirginAmerica I didn't today... Must mean I n...           neutral
2      @VirginAmerica it's really aggressive to blast...          negative
3      @VirginAmerica and it's a really big bad thing...          negative
4      @VirginAmerica seriously would pay $30 a fligh...          negative
...                                                  ...               ...
14397         @AmericanAir right on cue with the delaysðŸ‘Œ          negative
14398  @AmericanAir leaving over 20 minutes Late Flig...          negative
14399  @AmericanAir Please bring American Airlines to...           neutral
14400  @AmericanAir you have my money, you change my ...          negative
14401  @AmericanAir we have 8 ppl so we need 2 know h...           neutral

[14402 rows x 2 columns]

In [97]:
tweets_df.isna().sum().sum()

0

In [98]:
tweets_df['airline_sentiment'].value_counts()

negative    9113
neutral     2997
positive    2292
Name: airline_sentiment, dtype: int64

In [99]:
sentiment_ordering = ['negative', 'neutral', 'positive']

tweets_df['airline_sentiment'] = tweets_df['airline_sentiment'].apply(lambda x: sentiment_ordering.index(x))

In [100]:
tweets_df

                                                    text  airline_sentiment
0                    @VirginAmerica What @dhepburn said.                  1
1      @VirginAmerica I didn't today... Must mean I n...                  1
2      @VirginAmerica it's really aggressive to blast...                  0
3      @VirginAmerica and it's a really big bad thing...                  0
4      @VirginAmerica seriously would pay $30 a fligh...                  0
...                                                  ...                ...
14397         @AmericanAir right on cue with the delaysðŸ‘Œ                  0
14398  @AmericanAir leaving over 20 minutes Late Flig...                  0
14399  @AmericanAir Please bring American Airlines to...                  1
14400  @AmericanAir you have my money, you change my ...                  0
14401  @AmericanAir we have 8 ppl so we need 2 know h...                  1

[14402 rows x 2 columns]

In [101]:
emoji.demojize('@AmericanAir right on cue with the delaysðŸ‘Œ')

'@AmericanAir right on cue with the delays:OK_hand:'

In [102]:
ps = PorterStemmer()

def process_tweet(tweet):
    new_tweet = tweet.lower()
    new_tweet = re.sub(r'@\w+', '', new_tweet) # Remove @s
    new_tweet = re.sub(r'#', '', new_tweet) # Remove hashtags
    new_tweet = re.sub(r':', ' ', emoji.demojize(new_tweet)) # Turn emojis into words
    new_tweet = re.sub(r'http\S+', '',new_tweet) # Remove URLs
    new_tweet = re.sub(r'\$\S+', 'dollar', new_tweet) # Change dollar amounts to dollar
    new_tweet = re.sub(r'[^a-z0-9\s]', '', new_tweet) # Remove punctuation
    new_tweet = re.sub(r'[0-9]+', 'number', new_tweet) # Change number values to number
    new_tweet = new_tweet.split(" ")
    new_tweet = list(map(lambda x: ps.stem(x), new_tweet)) # Stemming the words
    new_tweet = list(map(lambda x: x.strip(), new_tweet)) # Stripping whitespace from the words
    if '' in new_tweet:
        new_tweet.remove('')
    return new_tweet

In [103]:
tweets = tweets_df['text'].apply(process_tweet)

labels = np.array(tweets_df['airline_sentiment'])

In [104]:
tweets

0                                           [what, , said]
1        [i, didnt, today, must, mean, i, need, to, tak...
2        [it, realli, aggress, to, blast, obnoxi, enter...
3         [and, it, a, realli, big, bad, thing, about, it]
4        [serious, would, pay, dollar, a, flight, for, ...
                               ...
14397           [right, on, cue, with, the, delay, hand, ]
14398    [leav, over, number, minut, late, flight, no, ...
14399    [pleas, bring, american, airlin, to, blackberr...
14400    [you, have, my, money, you, chang, my, flight,...
14401    [we, have, number, ppl, so, we, need, number, ...
Name: text, Length: 14402, dtype: object

In [105]:
# Get size of vocabulary
vocabulary = set()

for tweet in tweets:
    for word in tweet:
        if word not in vocabulary:
            vocabulary.add(word)

vocab_length = len(vocabulary)

# Get max length of a sequence
max_seq_length = 0

for tweet in tweets:
    if len(tweet) > max_seq_length:
        max_seq_length = len(tweet)

# Print results
print("Vocab length:", vocab_length)
print("Max sequence length:", max_seq_length)

Vocab length: 11250
Max sequence length: 90

In [106]:
tokenizer = Tokenizer(num_words=vocab_length)
tokenizer.fit_on_texts(tweets)

sequences = tokenizer.texts_to_sequences(tweets)

word_index = tokenizer.word_index

model_inputs = pad_sequences(sequences, maxlen=max_seq_length, padding='post')

In [107]:
model_inputs

array([[  49,    2,  218, ...,    0,    0,    0],
       [   5,  191,  102, ...,    0,    0,    0],
       [  15,  138, 2841, ...,    0,    0,    0],
       ...,
       [  76,  507,  435, ...,    0,    0,    0],
       [   8,   19,   12, ...,    0,    0,    0],
       [  37,   19,    4, ...,    0,    0,    0]])

In [108]:
model_inputs.shape

(14402, 90)

In [109]:
X_train, X_test, y_train, y_test = train_test_split(model_inputs, labels, train_size=0.7, random_state=22)

In [110]:
# training

In [111]:
embedding_dim = 32 

inputs = tf.keras.Input(shape=(max_seq_length,))

embedding = tf.keras.layers.Embedding(input_dim=vocab_length,
                                      output_dim=embedding_dim, 
                                      input_length=max_seq_length)(inputs)

# Model A (just a Flatten layer)
flatten = tf.keras.layers.Flatten()(embedding)  

# Model B (GRU with a Flatten layer)
gru = tf.keras.layers.GRU(units=embedding_dim)(embedding)
gru_flatten = tf.keras.layers.Flatten()(gru)

# Both A and B are fed into the output
concat = tf.keras.layers.concatenate([flatten, gru_flatten])  
outputs = tf.keras.layers.Dense(3, activation='softmax')(concat)

model = tf.keras.Model(inputs, outputs)

plot_model(model, to_file='model.png', show_shapes=True)

You must install pydot (`pip install pydot`) and install graphviz (see instructions at https://graphviz.gitlab.io/download/) for plot_model to work.

In [113]:
model.compile(
    optimizer='adam',
    loss='sparse_categorical_crossentropy',
    metrics=['accuracy']
)


batch_size = 32
epochs = 50

history = model.fit(
    X_train,
    y_train,
    validation_split=0.2,
    batch_size=batch_size,
    epochs=epochs,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=3,
            restore_best_weights=True,
            verbose=1
        ),
        tf.keras.callbacks.ReduceLROnPlateau()
    ]
)

Epoch 1/50
252/252 [==============================] - 26s 78ms/step - loss: 0.7887 - accuracy: 0.6669 - val_loss: 0.6620 - val_accuracy: 0.7209 - lr: 0.0010
Epoch 2/50
252/252 [==============================] - 23s 93ms/step - loss: 0.5200 - accuracy: 0.7917 - val_loss: 0.5392 - val_accuracy: 0.7972 - lr: 0.0010
Epoch 3/50
252/252 [==============================] - 24s 96ms/step - loss: 0.3723 - accuracy: 0.8672 - val_loss: 0.5094 - val_accuracy: 0.8002 - lr: 0.0010
Epoch 4/50
252/252 [==============================] - 21s 85ms/step - loss: 0.2780 - accuracy: 0.9079 - val_loss: 0.5130 - val_accuracy: 0.8017 - lr: 0.0010
Epoch 5/50
252/252 [==============================] - 14s 57ms/step - loss: 0.2101 - accuracy: 0.9360 - val_loss: 0.5182 - val_accuracy: 0.8017 - lr: 0.0010
Epoch 6/50
252/252 [==============================] - ETA: 0s - loss: 0.1582 - accuracy: 0.9570Restoring model weights from the end of the best epoch: 3.
252/252 [==============================] - 14s 56ms/step - loss: 0.1582 - accuracy: 0.9570 - val_loss: 0.5372 - val_accuracy: 0.7967 - lr: 0.0010
Epoch 6: early stopping

In [114]:
# result

In [115]:
model.evaluate(X_test, y_test)

136/136 [==============================] - 2s 14ms/step - loss: 0.4904 - accuracy: 0.8102

[0.4904015064239502, 0.8102291226387024]